/* scrolltable rules */
table {
  margin-top: 65px;
  margin-bottom: 10px;
  display: inline-block;
  overflow: auto;
}
th div {
  margin-top: -65px;
  position: absolute;
}

/* design */
table {
  border-collapse: collapse;
}

.verifications-table-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verifications-table {
  height: 20em;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.verifications-table td,
.verifications-table th div {
  padding: 31px;
}

.verifications-table td,
.verifications-table th {
  min-width: 180px;
}

.verifications-table tbody tr:hover {
  background-color: #ececff;
}

.verifications-table tbody {
  background-color: #fff;
}

.verifications-table tbody td.status span {
  position: relative;
  border-radius: 30px;
  padding: 4px 10px 4px 25px;
}

.verifications-table tbody td.status span:after {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%;
}

.verifications-table tbody td.status .verified {
  background: #cff6dd;
  color: #1fa750;
}

.verifications-table tbody td.status .verified:after {
  background: #23bd5a;
}

.verifications-table tbody td.status .pending {
  background: #fdf5dd;
  color: #cfa00c;
}

.verifications-table tbody td.status .pending:after {
  background: #f2be1d;
}

.verifications-table tbody td.status .not-verified {
  background: #fde2dd;
  color: #cf2a0c;
}

.verifications-table tbody td.status .not-verified:after {
  background: #f23d1d;
}

.verifications-table tbody td.status .expired {
  background: #ddddfd;
  color: #0c0ccf;
}

.verifications-table tbody td.status .expired:after {
  background: #1d1df2;
}
