# required: true
# format: sid
# description: Your Twilio Account SID. Can be found in the Console.
TWILIO_ACCOUNT_SID=

# required: true
# format: secret
# description: Your Twilio Auth Token. Can be found in the Console.
TWILIO_AUTH_TOKEN=

# description: Twilio phone number to send SMS from. Your patient will see this number.
# format: phone_number
# required: true
# configurable: true
TWILIO_PHONE_NUMBER=

# description: (Optional) A Whatsapp enabled phone number we'll use as an example customer phone number to test the app end-to-end
# format: phone_number
# required: false
TWILIO_WHATSAPP_NUMBER=

# description: Agent username: this is the username of one of the users added to the Identity Provider (SSO). We'll use this to log into the app
# format: text
# required: true
AGENT_USERNAME=

# description: We'll create an example customer to test the app, and we'll use this as the phone number. Ideally, this is your personal phone number.
# format: phone_number
# required: true
PHONE_NUMBER_FOR_CUSTOMER_1=

# description: The contact name to be used for the example customer #1
# format: text
# required: true
NAME_FOR_CUSTOMER_1=

# description: (Optional) To create a second contact, provide another phone number to test the app end-to-end
# format: phone_number
# required: false
PHONE_NUMBER_FOR_CUSTOMER_2=

# description: (Optional) The contact name to be used for the example customer #2
# format: text
# required: false
NAME_FOR_CUSTOMER_2=