name: Assign Reviewers

on:
  pull_request:
    branches:
      - main
    types:
      - ready_for_review
      - synchronize

jobs:
  reviewers:
    name: Assign Reviewers
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - uses: zattoo/reviewers@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ignore: |
            .DS_Store
          source: '.owners'
